{% extends "base.html" %}
{% block content %}
<div id="section-content">
  <h1 class="center">Tag: {{ term.name }}</h1>
  <ul>
    {% for post in term.pages %}
    <li>
      <hgroup>
        <h5>
          <a href="{{ post.permalink | safe }}">
            {{ post.title }}</a>
          </h5>
        {%- if post.description -%}
          <p class="invis">{{ post.description }}</p>
        {%- endif -%}
        <small class="invis">{{ post.date | date(format="%e %b %Y") }} –– {{ post.reading_time }} min read</small>
      <span class="invis"></span>
      </hgroup>
    </li>
    {% endfor %}
  </ul>
  <div class="pagination center">
    {%- if paginator.previous  or paginator.next -%}    
    {%- set pag_start = 1 -%}
    {%- set pag_end = paginator.number_pagers -%}
    {%- if paginator.previous -%}<a href = "{{ paginator.previous }}">&larr;</a>{%- endif -%}
    {%- for i in range(start=pag_start, end=pag_end+1) -%}
      <a class="{% if paginator.current_index == i %} current {% endif %}" href="{{ paginator.base_url | safe }}{{ i ~ '/' }}">{{i}}</a>
    {%- endfor -%}
    {%- if paginator.next -%}<a href = {{paginator.next}}>&rarr;</a>{%- endif -%}
    {%- endif -%}
  </div>
</div>
{% endblock %}
