<footer>
    <ul class="center">
        <li><small>Сreated by Vitaliy Kuznetsov in 2015 – 2025 for fun. Powered by <a href="https://getzola.org/">zola</a> and <a href="https://github.io/kuznetsov17/nano">nano</a>.</small>
        {% if config.extra.footer.icons.github %}
        <li><a href="{{config.extra.footer.icons.github}}" class="icon footer icon-gh"></a>
        {% endif %}
        {% if config.extra.footer.icons.linkedin %}
        <li><a href="{{config.extra.footer.icons.linkedin}}" class="icon footer icon-linkedin"></a>
        {% endif %}
    </ul>
</footer>


