<header>
    <div class ="container">
        <nav>
            {%- if config.build_search_index -%}
            <ul>
                <li><input
                        id="searchInput"  
                        type="search"
                        name="search"
                        placeholder="Search"
                        aria-label="Search"
                    />
                </li>
            {%- endif -%}
            {% for menuitem in config.extra.top_menu %}
                <li><a href="{% if menuitem == config.extra.index_page %}{{config.base_url | safe }}{% else %}{{config.base_url | safe }}{{ menuitem }}{% endif %}" class="{% if menuitem in current_url and menuitem != '/' %} contrast{% elif menuitem == config.extra.index_page and current_url == config.base_url %} contrast{% endif %}">{{ menuitem }}</a></li>
            {% endfor %}
                <li>
                    <div class="theme-toggle" title="Toggle theme" id="colorSwitch">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          aria-hidden="true"
                          width="1em"
                          height="1em"
                          fill="currentColor"
                          class="theme-toggle__inner-moon"
                          viewBox="0 0 32 32"
                        >
                          <path d="M27.5 11.5v-7h-7L16 0l-4.5 4.5h-7v7L0 16l4.5 4.5v7h7L16 32l4.5-4.5h7v-7L32 16l-4.5-4.5zM16 25.4a9.39 9.39 0 1 1 0-18.8 9.39 9.39 0 1 1 0 18.8z" />
                          <circle cx="16" cy="16" r="8.1" />
                        </svg>
                      </div>
                </li>
            </ul>
        </nav>
        
    </div>
    {%- if config.build_search_index -%}
    
    <div id="sResults">
        <a class="icon close-search" id="closeSearch"></a>
    </div>
  {%- endif -%}
</header>


