{% set raw = load_data(literal = body, format='toml') %}
{% set cards = raw.cards %}

{% set_global step = 0 %}

<div class="grid" id="skillcards">
    <div>
    {% for item in cards |slice(start=0,end=2)%}   
        <article class="panel">
            <div class="skillcard-icon skillcard-icon-{{item.icon}}"></div>
            <header><h6 class="center">{{item.title}}</h6 class="center"></header>
            <body>{{item.details | markdown | safe}}</body>
        </article>
    {% endfor %}
    </div>
    <div>
    {% for item in cards |slice(start=2,end=4)%}   
        <article class="panel">
            <div class="skillcard-icon skillcard-icon-{{item.icon}}"></div>
            <header><h6 class="center">{{item.title}}</h6 class="center"></header>
            <body>{{item.details | markdown | safe}}</body>
        </article>
    {% endfor %}
    </div>
    <div>
    {% for item in cards |slice(start=4,end=6)%}   
        <article class="panel">
            <div class="skillcard-icon skillcard-icon-{{item.icon}}"></div>
            <header><h6 class="center">{{item.title}}</h6 class="center"></header>
            <body>{{item.details | markdown | safe}}</body>
        </article>
    {% endfor %}
    </div>
</div>



